doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Contact Us - Student Tracking System
  meta(name='description' contet='.....')
  link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon_io/favicon.ico')
  link(rel='stylesheet' href='css/header.css')
  link(rel='stylesheet' href='css/footer.css')
  link(rel='stylesheet' href='css/contact_us.css')
header
  nav
    ul
      .button_box_1
        a(href='/') HOME
      .button_box_1
        a(href='content') CONTENT
      .button_box_1
        a(href='contact_us') CONTACT US
      .button_box_1
        a(href='about_us') ABOUT US
      .button_box_1
        a(href='search') SEARCH
    .logo
      .headerText_1
        img(src='images/logo-home.png' alt='')
      .headerText_2
        span  STUDENT TRACKING SYSTEM
    ul
      .button_box_2
        a(href='signup') SIGN UP
      .button_box_3
        a(href='login') LOGIN
    .dropdown
      img.dropbtn(src='images/avatar.png' alt='Avatar' onclick='myFunction()')
      #myDropdown.dropdown-content
        a(href='data_fillup') Data Fillup
        a(href='logout') Logout
main
  section.page1
    .container_body
      .details
        p  LAWN ADDRESS:
        p
        br
        |  Lorem ipsum dolor sit amet consectetur 
        br
        |  adipisicing elit. Numquam, fugiat?
        p
        p
          br
          |  PHONE NUMBER : 165xx5xxxx
        p
          br
          |  EMAIL : 
          a(href='asff1651@domain.com') asff1651@domain.com
      .socials
        a(href='https://www.facebook.com' title='Follow on Facebook' target='_blank')
          img(src='images/1024px-Facebook_Logo_(2019).png' alt='')
      .socials
        a(href='https://www.instagram.com' title='Follow on Facebook' target='_blank')
          img(src='images/insta.jpg' alt='')
      .socials
        a(href='https://www.youtube.com' title='Follow on Facebook' target='_blank')
          img(src='images/YouTube-logo-in-a-circle---social-media-icon-PNG.png' alt='')
footer
  div
    // google ads
    | Copyright &copy; 
    b OFFICIAL MHRD
// *************************************
script(src='script.js')