@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
footer {
    height: 12vh;
    background-color: black;
    color: rgb(82, 228, 38);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}